body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-grey {
  background-color: #eaf0fe;
}

.btn-primary {
  background-color: #1f4fa9;
  border-color: #1f4fa9;
  transition: all 0.4s ease;
}

.btn-primary:hover {
  background-color: #ee7860;
  border-color: #ee7860;
}

.app-title {
  color: #67769b;
}

.app-content {
  min-width: 300px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px #e0e7f8;
}

.results {
  border-top: 1px solid #eaf0fe;
}

.weather-details {
  border: 1px solid #dfe7f8;
  border-radius: 0.25rem;
  background-color: #fbfcff;
}

.city-input {
  height: 3.6rem;
}

.city-input input {
  border: transparent;
}
